.App {
  text-align: center;
}

.demo-layout-transparent {
  background: url('./res/img/milestone.png') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.mdl-layout__tab-bar {
  background: url('./res/img/tab-pager-view.png') center / cover;
}

.mdl-layout__content {
  text-align: center;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
}

.mapView {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pull-to-refresh {
  top: 10px;
}

